<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>
<div>
  <span> Results</span><span><app-highlighted-text [messageDetail]="sampleData"
                                                   [args]="'Key'"></app-highlighted-text></span>
</div>
<ag-grid-angular
  style="width: 500px; height: 500px;"
  class="ag-theme-balham"
  [rowData]="rowData | async"
  [columnDefs]="columnDefs"
>
</ag-grid-angular>

